$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;
$DF: 766px;
$MN: 1000px;
// media queries

@mixin Responsive($canvas) {
  @if $canvas ==DF {
    @media only screen and (max-width: $DF) {
      @content;
    }
  }

  @if $canvas ==MN {
    @media only screen and (max-width: $MN) {
      @content;
    }
  }

  @if $canvas ==MB {
    @media only screen and (max-width: $XS) {
      @content;
    }
  }

  @if $canvas ==XS {
    @media only screen and (min-width: $XS) {
      @content;
    }
  }

  @else if $canvas ==SM {
    @media only screen and (min-width: $SM) {
      @content;
    }
  }

  @else if $canvas ==MD {
    @media only screen and (min-width: $MD) {
      @content;
    }
  }

  @else if $canvas ==XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  }
}