// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import "~bootstrap/scss/bootstrap";

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #aeadad #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #aeadad;
  border-radius: 10px;
  border: 3px solid #ffffff;
}



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
}

:root {
  --border-right: #ccc;
  --background-body-main: #ebebeb;
  --background-main: #f9f9f9;
  --color-text-app: #000;
  --color-text-title: #2980b9;
  --color-text: #868E96;
  --nav-main-background: #DEE2E6;
  --background-hover: #E9ECEF;
  --background-item-footnote: rgba(0, 0, 0, .8);
  --color-text-hover: #288ad6;
  --color-text-nav: #ff9601;
  --color-logo-home: #ae4ad9;
  --color-button-view-more: #ae4ad9;
  --color-text-megamenu: #FFFFFF;
  --background-active: white;
  --color-text-nav-mobile: #fff;
  --color-text-detail: #777676;
  --background-desc: linear-gradient(rgba(255, 255, 255, 0), white);
  --main-background: #EBEBEB;
  --container-background: #F9F9F9;
  --background-control: #f6f7f8;
  --border-bottom-color: #EAEAEA;
  --color-top-rank: #3b3b3b;
  --background-top-rank-active: #721799;
  --background-button_nav: #777676;
  --color-text-updated: silver;
  --color-text-name: #03f;
  --background-comment: #F0F2F5;
  --color-text-comment: #050505;
  --back-pagination: #fff;
  --back-pagination-active: #00a5f0;
  --border-active-paginate: #4c4c4c;
  --color-text-paginate: #999;

}

/*Dark mode color*/
[data-theme='dark'] {
  --border-right: #424242;
  --background-body-main: #1a1a1a;
  --background-main: #2C2E33;
  --color-text-app: #fff;
  --color-text-title: #ff9601;
  --color-text-nav-mobile: #ff9601;
  --color-text: hsla(0, 0%, 100%, .87);
  --nav-main-background: #141517;
  --background-hover: rgba(138, 180, 248, .04);
  --background-item-footnote: rgba(0, 0, 0, .8);
  --color-text-hover: #fd0405;
  --color-button-view-more: #fd0405;
  --color-text-nav: #fff;
  --color-logo-home: #ff9601;
  --color-text-megamenu: #ae4ad9;
  --background-active: #000;
  --color-text-detail: #fff;
  --background-desc: linear-gradient(rgba(255, 255, 255, 0), #484848);
  --main-background: #1A1A1A;
  --container-background: #252525;
  --background-control: #252525;
  --border-bottom-color: #EAEAEA;
  --color-top-rank: #a3a3a3;
  --background-top-rank-active: #fd0405;
  --background-button_nav: #111111;
  --color-text-updated: #999;
  --color-text-name: #d2d23f;
  --background-comment: #3A3B3C;
  --color-text-comment: #E4E6EB;
  --back-pagination: #3a3a3a;
  --border-active-paginate: #ff6901;
  --color-text-paginate: #fff;
  --back-pagination-active: #3a3a3a;
}


@media (max-width: 767px) {
  #header{
    position: sticky;
  }
}
.main{
  background: var(--background-body-main);
}
.dark-mode-switch {
  display: flex;
  transition: transform 0.2s ease-out;
  border-radius: 2em;
  overflow: hidden;
  width: 1em;
  height: 24px;
  transform-origin: center;
  cursor: pointer;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  input.material-symbols-rounded[type="checkbox"] {
    user-select: none;
    display: flex;
    visibility: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    position: relative;

    &::after {
      content: "";
      user-select: none;
      visibility: visible;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;
      background-color: var(--background-hover);
    }

    &:hover:after {

    }

    &:checked:after {
      content: "dark_mode";
      color: white;
    }

    &:not(:checked):after {
      content: "light_mode";
    }

  }

}

.item {
  transition: all .3s ease-out;
  margin-bottom: 10px;
}

@media (min-width: 480px) {
  .item{
    width: 33.33333333%;
    padding: 0 7px;
  }
}
@media (min-width: 360px) and (max-width: 479px) {
  .item{
    width: 50%;
    padding: 0 7px;
  }
}
@media (max-width: 359px) {
  .item{
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .item{
    width: 25%;
    padding: 0 7px;
  }
}

@media (min-width: 1024px) {
  .item-2{
    width: 20%;
    padding: 0 7px;
  }
}

.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
  height: 34px;
  background: grey;
  border-radius: 60px;
  position: relative;
  transition: background-color .2s;
}

.switch-label .switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked + .switch-label .switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch-label:active .switch-button {
  width: 40px;
}

.page-item.active .page-link {
  z-index: 3;
  color: var(--border-active-paginate) !important;
  background-color: var(--back-pagination-active) !important;
  border-color: var(--border-active-paginate) !important;
}